---
import { profile } from '../../settings'

const { fullName } = profile
---

<footer class='footer footer-center px-4 py-8 bg-base-200 text-base-content'>
	<aside>
		<p>
			Copyright © {new Date().getFullYear()} - All rights reserved by {fullName}
		</p>
		<p class="text-xs opacity-60 mt-1">
			This site collects server-side visit analytics. No cookies are used.
		</p>
	</aside>
</footer>
